# dependencies
node_modules/

# Environment
.env

# IDE
/.idea
/.awcache
/.vscode
/.devcontainer
*.code-workspace

bower_components/
coverage/
.sass-cache/
.idea/
.tmp/
dist/
.vscode/

# Vim
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# bundle
packages/**/*.d.ts
packages/**/*.js


# Optional REPL history
.node_repl_history
.next

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# MacOS
*.DS_Store*

# misc
.DS_Store
lerna-debug.log
npm-debug.log
yarn-error.log
/**/npm-debug.log
/packages/**/.npmignore
/packages/**/LICENSE
*.tsbuildinfo

.npmrc
pnpm-lock.yaml